.txtTarefa{
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding: 16px;
    gap:8px;

    width: 39rem;
    height: 3rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius:8px;

    flex:none;
    order:0;
    flex-grow:1;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
}

.newTaskContent{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 46rem;
    height: 54px;
    left: calc(50% - 46rem/2);
    top:-10,8rem;
}

.btnCriar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap:8px;

    width: 5,6rem;
    height: 3rem;

    background: var(--blue-dark);
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color:var(--gray-100);

    border:none;
}

:focus{
    outline: none;
    box-shadow: 0 0 0 2px var(--gray-500);
}